
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">UserLogin from "@User.Identity.Name" Account.</p>
    </div>
</body>
</html>
